.regioes-container{
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.regioes-container header{
    display: flex;
    align-items: center;
}

.regioes-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.regioes-container header img{
    height: 64px;
}

.regioes-container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

.regioes-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.regioes-container header button:hover{
    border-color: #999;
}

.regioes-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.regioes-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.regioes-container ul li{
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;

}

.regioes-container ul li button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    
}

.regioes-container ul li button:hover {
    opacity: 0.8;
}

.regioes-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;

}
.regioes-container ul li p {
    color: #737380
}

.regioes-container ul li p + strong{
    margin-top: 32px;
    line-height: 21px;
    font-size: 16px;
}

@media(max-width: 500px){
    .regioes-container header a {
        font-size: 1em;
    }

}